@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: white;
  --foreground: black;

  --scrollbar-thumb: #d4d4d4;
  --scrollbar-thumb-border: white;
  --scrollbar-thumb-hover: #737373;
}

.bg-input {
  background-color: rgba(243, 244, 246, 0.75);
}

.bg-auth-overlay {
  background-color: rgba(245, 245, 245, 0.25);
}

.bg-auth {
  background-color: rgba(255, 255, 255, 0.75);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: black;
    --foreground: white;

    --scrollbar-thumb: rgba(128, 128, 128, 0.4);
    --scrollbar-thumb-border: black;
    --scrollbar-thumb-hover: whitesmoke;
  }

  .bg-input {
    background-color: rgba(107, 114, 128, 0.5);
  }

  .bg-auth-overlay {
    background-color: rgba(0, 0, 0, 0.25);
  }

  .bg-auth {
    background-color: rgba(38, 38, 38, 0.50);
  }
}

html,
body,
#app {
  overscroll-behavior-y: none;
  touch-action: pan-x pan-y;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-vazirmatn), sans-serif;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;

  -ms-overflow-style: none;
}

.no-scrollbar {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
  width: 0;
}

.shake {
  animation: shake 0.2s cubic-bezier(0.36, 0.07, 0.19, 0.97);
}

.animate-fade-scale {
  animation: fadeScale 2s ease-in-out infinite;
}

.animate-fade-in-out {
  animation: fadeInOut 5s ease-in-out forwards;
}

.animate-rotate-in-y {
  animation: rotateInY 0.8s cubic-bezier(0.22, 1, 0.36, 1) both;
  animation-delay: 0.2s;
  transform-style: preserve-3d;
}

.glitter {
  position: absolute;
  border-radius: 9999px;
  background: radial-gradient(circle, #a78bfa, #60a5fa);
  animation: glitterFall 5s ease-out infinite;
  filter: blur(0.2px);
}

@keyframes glitterFall {
  0% {
    transform: translateY(0) scale(1);
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  100% {
    transform: translateY(120px) scale(0.6);
    opacity: 0;
  }
}

@keyframes rotateInY {
  0% {
    transform: perspective(1000px) rotateY(-90deg);
    opacity: 0;
  }

  60% {
    transform: perspective(1000px) rotateY(10deg);
    opacity: 1;
  }

  100% {
    transform: perspective(1000px) rotateY(0deg);
  }
}

@keyframes glitter-fall {
  0% {
    transform: translateY(-10%) scale(0.6);
    opacity: 0;
  }

  20% {
    opacity: 0.4;
  }

  100% {
    transform: translateY(110%) scale(1);
    opacity: 0;
  }
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0)
  }

  20% {
    transform: translateX(-2px)
  }

  40% {
    transform: translateX(2px)
  }

  60% {
    transform: translateX(-2px)
  }

  80% {
    transform: translateX(2px)
  }
}

@keyframes fadeScale {
  0% {
    transform: scale(0.75);
  }

  10% {
    transform: scale(1.5);
  }

  45% {
    transform: scale(1.25);
  }

  85% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(0.75);
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  5% {
    opacity: 1;
    transform: translateY(0);
  }

  95% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateX(-75px);
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 100vh;
  border: 3.5px solid var(--scrollbar-thumb-border);
  transition: background 0.3s ease;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}

@media (display-mode: standalone) {
  @layer utilities {
    .top-safe {
      top: env(safe-area-inset-top);
    }

    .bottom-safe {
      bottom: env(safe-area-inset-bottom);
    }

    .top-safe-34 {
      top: calc(env(safe-area-inset-top) + 34px);
    }

    .bottom-safe-34 {
      bottom: calc(env(safe-area-inset-bottom) + 34px);
    }

    .top-safe-44 {
      top: calc(env(safe-area-inset-top) + 44px);
    }

    .bottom-safe-44 {
      bottom: calc(env(safe-area-inset-bottom) + 44px);
    }

    .top-safe-3\/1 {
      top: calc(3 * env(safe-area-inset-top));
    }

    .bottom-safe-3\/1 {
      bottom: calc(3 *env(safe-area-inset-bottom));
    }

    .pt-safe {
      padding-top: env(safe-area-inset-top);
    }

    .pb-safe {
      padding-bottom: env(safe-area-inset-bottom);
    }

    .pt-safe--20 {
      padding-top: calc(env(safe-area-inset-top) - 20px);
    }

    .pb-safe--20 {
      padding-bottom: calc(env(safe-area-inset-bottom) - 20px);
    }

    .pt-safe--16 {
      padding-top: calc(env(safe-area-inset-top) - 16px);
    }

    .pb-safe--16 {
      padding-bottom: calc(env(safe-area-inset-bottom) - 16px);
    }

    .pt-safe-10 {
      padding-top: calc(env(safe-area-inset-top) + 10px);
    }

    .pb-safe-10 {
      padding-bottom: calc(env(safe-area-inset-bottom) + 10px);
    }

    .pt-safe-20 {
      padding-top: calc(env(safe-area-inset-top) + 20px);
    }

    .pb-safe-20 {
      padding-bottom: calc(env(safe-area-inset-bottom) + 20px);
    }

    .py-safe {
      padding-top: env(safe-area-inset-top);
      padding-bottom: env(safe-area-inset-bottom);
    }

    .py-safe-20 {
      padding-top: calc(env(safe-area-inset-top) + 20px);
      padding-bottom: calc(env(safe-area-inset-bottom) + 20px);
    }

    .mt-safe {
      margin-top: env(safe-area-inset-top);
    }

    .mb-safe {
      margin-bottom: env(safe-area-inset-bottom);
    }

    .mt-safe-20 {
      margin-top: calc(env(safe-area-inset-top) + 20px);
    }

    .mb-safe-20 {
      margin-bottom: calc(env(safe-area-inset-bottom) + 20px);
    }

    .my-safe {
      margin-top: env(safe-area-inset-top);
      margin-bottom: env(safe-area-inset-bottom);
    }

    .-mt-safe {
      margin-top: -env(safe-area-inset-top);
    }

    .-mb-safe {
      margin-bottom: -env(safe-area-inset-bottom);
    }
  }
}